@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@700&display=swap');

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}
img {
  width: 100%;
}

p {
  font-family: 'News Cycle', sans-serif;
  text-align: left;
  font-size: 14px;
}

.date {
  font-size: 12px;
}